<%= cloudinary_js_config %>
<header class="jumbotron">
  <div class="inner">
    <div class="container">
      <h1 style="letter-spacing:-3px; margin-bottom:20px;">Elitify Test App</h1>
      <p class="lead">An <strong>intro</strong> to using the Shopify App Template<br/>
      including information on the <strong>Shopify API</strong> and <strong>Bootstrap,</strong><br/>
      just to get the ball rolling.</p>
    </div><!-- /container -->
  </div>
</header>

<div class="row">
  


  <div class="span12"> 
    <h2>New Products</h2>
    
	<br />
    <div class="accordion" id="accordion">      
      
      <% if @product.blank? %>
      
        <div class="accordion-group">
          <div class="accordion-heading">
            <em>There are no products in your store.</em>
          </div>
        </div>
      
      <% else %>
      
       
          <div class="accordion-group">
            <div class="accordion-heading">
              
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#<%= @product.id %>">
                <%= @product.title %> <span class="pull-right muted"><%= @product.price_range %> <%= shop_session.shop.currency %></span>
              </a>
            </div>
        
            <div id="<%= @product.id %>" class="accordion-body collapse">
              <div class="accordion-inner">

                           
              <% if !@product.variants.empty? %>
			  
				<h3>Variants For this product</h3>
				<table>
				<thead>
				<th>Index</th>
				<th>Option1</th>
				<th>Option2</th>
				<th>Option3</th>
				<th>Current Variant Image</th>
				<th>Upload Variant Image</th>
				<th>Current Swatch Image</th>
				<th>Upload Swatch Image</th>
				</thead>
				<tbody>
				<%  @product.variants.each_with_index do |variant, index2| %>
				<tr>
				<td><%= index2 %></td>
				<td><%= variant.option1 %></td>
				<td><%= variant.option2 %></td>
				<td><%= variant.option3 %></td>
				<td>  <% if !@product.images.empty? %>
				<% @product.images.each_with_index do | img, index1| %>
					<% if img.small.include?(variant.title) %>
						<% @testvar = img.small %>
					 <% end %>
					<% if @testvar %>
				<%= link_to image_tag(@testvar), '#modal-'+@product.id.to_s, :'data-toggle' => 'modal' %>
				  @testvar=nil
				  <% end %>
				<% end %>
                  
                <% end %></td>
				<td>
				<%= form_for(:product, :url => {:action => 'upload', :id => @product.id, :vid =>variant.id ,:vtitle=>variant.title}, :html => {:multipart => true}) do |f| %>
				<%= f.file_field(:product_image) %>
				<%= submit_tag('Upload') %>
				<% end %>
				</td>
				<td></td>
				<td><%= cl_image_upload_tag(:image_id,:format=>'png',:invalidate=>true,:public_id=>"#{variant.title}-#{variant.id}",:resource_type=>'image',:crop => :limit, :width => 1000, :height => 1000, 
                          :html => {:class => "image_upload"}) %></td>
				</tr>
				<% end %>
				</tbody>
				</table>
				
					 
					  
			  <% end %>
              </div>
              
            </div>
          </div>
          
          <% end %>
      
      
      
    </div> <!-- accordion -->
<div class='preview'></div>
<div class='progress_bar'></div>


	</div> <!-- span8 / right-column -->
</div>
<script type="text/javascript">
$('.cloudinary-fileupload').bind('cloudinarydone', function(e, data) {  
  $('.preview').html(
    $.cloudinary.image(data.result.public_id, 
      { format: data.result.format, version: data.result.version, 
        crop: 'fill', width: 150, height: 100 })
  );    
  $('.image_public_id').val(data.result.public_id);    
  return true;
});
$('.cloudinary-fileupload').bind('fileuploadprogress', function(e, data) { 
  $('.progress_bar').css('width', Math.round((data.loaded * 100.0) / data.total) + '%'); 
})
</script>